@import './fonts.css';

/* region Settings */

:root {
  --accent-color: #2f80ed;
  --on-accent-color: #ffffff;
  --text-color: #111111;
  --background-color: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
  color: var(--text-color);
}

body {
  font-family: 'Proxima Nova', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.scroll-contents {
  width: 100vw;
  height: 100dvh;
  overflow: auto;
}

/* endregion */

/* region Auto scroll text*/

.auto-scroll-text-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.auto-scroll-text {
  transition: 0.3s;
  display: inline-block;
}

.auto-scroll-text.duplicate {
  position: absolute;
  top: 100%;
  left: 0;
}

.auto-scroll-text--active .auto-scroll-text {
  transform: translateY(-100%);
}

/* endregion */

/* region UI */

.button {
  background-color: var(--accent-color);
  color: var(--on-accent-color);
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 20px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  transition:
    color 0.3s,
    background-color 0.3s;
}

.button:hover {
  background-color: var(--on-accent-color);
  color: var(--accent-color);
}

.button__text {
  transition: 0.3s;
}

.button__icon {
  color: var(--on-accent-color);
  width: 12px;
  height: auto;
}

.container {
  width: 100%;
  padding: 0 40px;
}

.menu-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}

.menu-btn__icon {
  width: 32px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-btn__line {
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  transition: transform 0.3s;
}

.menu-btn:hover .menu-btn__line:first-child {
  transform: translateY(-2px);
}

.menu-btn:hover .menu-btn__line:last-child {
  transform: translateY(2px);
}

.text--primary {
  color: var(--accent-color);
}

.video__line {
  width: 100%;
  flex: auto;
  height: 1px;
  background-color: #d7d7d7;
}

.video__label {
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.video__time {
  white-space: nowrap;
  font-size: 14px;
  opacity: 0.5;
}

.video__button {
  width: 186px;
  min-width: 186px;
  height: 186px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

.video__button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  opacity: 0.3;
}

.video__button:after {
  content: '';
  position: absolute;
  width: 60%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid var(--on-accent-color);
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video__button:hover {
  opacity: 0.7;
  transform: scale(0.97);
}

.play {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1;
}

.play__icon {
  width: 10px;
  height: auto;
}

.play--white {
  color: #ffffff;
}

.video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.video__cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  padding: 60px;
  z-index: 9;
  background-color: var(--background-color);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  display: none;
  opacity: 0;
  transition: opacity 0.3s;
}

.popup--active {
  display: flex;
}

.popup--showed {
  opacity: 1;
}

.input__wrapper {
  position: relative;
  width: 100%;
}

.input {
  font-size: 16px;
  outline: none;
  border: solid rgba(0, 0, 0, 0.2);
  border-width: 0 0 1px 0;
  padding: 6px 0;
  width: 100%;
}

.input::placeholder {
  opacity: 0;
}

.input__label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-transform: uppercase;
  font-size: 16px;
  user-select: none;
  pointer-events: none;
  z-index: 1;
  transition: 0.3s;
}

.input:focus + .input__label,
.input:not(:placeholder-shown) + .input__label {
  transform: translate(-15%, -150%) scale(0.7);
}

.close {
  position: relative;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.close__line {
  position: absolute;
  width: 36px;
  height: 1px;
  background-color: #000000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: 0.3s;
}

.close__line:last-child {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close:hover .close__line {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close:hover .close__line:last-child {
  transform: translate(-50%, -50%) rotate(45deg);
}

.popup__close {
  position: absolute;
  top: 60px;
  right: 60px;
  z-index: 3;
}

.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  display: none;
  align-items: center;
  justify-content: center;
}

.video-modal--active {
  display: block;
}

.video-modal video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-modal__close {
  position: absolute;
  top: 40px;
  right: 40px;
  background: none;
  border: none;
  color: white;
  font-size: 40px;
  cursor: pointer;
  z-index: 3;
  transition: 0.3s;
}

.video-modal__close:hover {
  opacity: 0.5;
}

/* endregion */

/* region Header */

.header {
  padding: 28px 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  z-index: 3;
}

.header .container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__button:hover {
  background-color: var(--accent-color);
  color: var(--on-accent-color);
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__logo-link {
  transition: transform 0.3s;
  line-height: 0;
  cursor: pointer;
}

.header__logo-link:hover {
  transform: scale(0.97);
}

.header__logo-icon {
  width: 187px;
  height: auto;
  color: var(--accent-color);
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.phone-link {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s;
  font-size: 14px;
  font-weight: 600;
}

.phone-link:hover {
  color: var(--accent-color);
}

.callback-button {
  text-transform: uppercase;
  color: var(--accent-color);
  position: relative;
  font-size: 13px;
  font-weight: 600;
}

.header__phone--mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  border: 1px solid #d7d7d7;
  transition: 0.3s;
}

.header__phone--mobile-icon {
  width: 14px;
  height: auto;
  transition: 0.3s;
  color: #000000;
}

.header__phone--mobile:hover {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.header__phone--mobile:hover .header__phone--mobile-icon {
  color: var(--on-accent-color);
}

/* endregion */

/* region Banner */

.banner {
  padding-top: 103px;
  min-height: 100dvh;
  user-select: none;
  pointer-events: none;
}

.banner__img {
  width: 100%;
  aspect-ratio: 2.7;
  object-fit: cover;
  object-position: center right;
  user-select: none;
  pointer-events: none;
}

.banner__row {
  display: flex;
  width: 100%;
  margin-top: 40px;
  align-items: flex-end;
  justify-content: space-between;
}

.banner__title {
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 400;
}

.banner__logo {
  width: 717px;
  height: auto;
}

/* endregion */

/* region About */

.about {
  margin-top: 110px;
  margin-bottom: 40px;
}

.about .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.about__left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 42%;
}

.about__label {
  font-size: 13px;
  color: var(--accent-color);
  margin-bottom: 27px;
  text-transform: uppercase;
}

.about__picture-wrapper {
  position: relative;
  width: 100%;
}

.about__picture-plug {
  position: absolute;
  top: 88px;
  right: 0;
  transform: translateX(50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__picture-icon {
  width: 49px;
  height: auto;
  color: var(--on-accent-color);
}

.about__picture {
  user-select: none;
  pointer-events: none;
}

.about__img {
  width: 100%;
  aspect-ratio: 0.8;
  object-fit: cover;
  object-position: center;
  user-select: none;
  pointer-events: none;
}

.about__right {
  width: 34%;
  position: relative;
  margin-right: 10%;
}

.about__right:before {
  content: '';
  position: absolute;
  top: -50px;
  left: 0;
  width: 49px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.about__title {
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about__description {
  text-transform: uppercase;
  margin-bottom: 96px;
}

.about__video {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

/* endregion */

/* region Callback Form */

.callback__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 454px;
}

.callback__title {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 50px;
  text-align: center;
}

.callback__fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.callback__policy {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  color: #000;
  opacity: 0.5;
  font-size: 12px;
}

.callback__policy-link {
  color: #000;
}

.callback__policy-link:hover {
  text-decoration: none;
}

.callback__submit {
  padding: 23px;
  width: 228px;
  max-width: 100%;
}

/* endregion */

/* region Responsive */

@media (min-width: 1770px) {
  /* region UI */

  .menu-btn {
    font-size: 15px;
    gap: 15px;
  }

  .menu-btn__icon {
    width: 38px;
    height: 18px;
  }

  .button {
    font-size: 15px;
    padding: 17px 26px;
    gap: 12px;
  }

  .button__icon {
    width: 14px;
  }

  .phone-link {
    font-size: 17px;
  }

  .callback-button {
    font-size: 15px;
  }

  .video__button {
    width: 240px;
    min-width: 240px;
    height: 240px;
  }

  .video__label {
    font-size: 18px;
  }

  .video__time {
    font-size: 18px;
  }

  .play {
    gap: 7px;
    font-size: 18px;
  }

  .play__icon {
    width: 13px;
  }

  .input,
  .input__label {
    font-size: 17px;
  }

  /* endregion */

  /* region Header */

  .header {
    padding: 40px 0;
  }

  .header__left,
  .header__right {
    gap: 45px;
  }

  /* endregion */

  /* region Banner */

  .banner {
    padding-top: 131px;
  }

  .banner__img {
    aspect-ratio: 2.9;
    object-position: center left;
  }

  .banner__row {
    margin-top: 50px;
  }

  .banner__title {
    font-size: 31px;
  }

  .banner__logo {
    width: 862px;
  }

  /* endregion */

  /* region About */

  .about {
    margin-top: 160px;
    margin-bottom: 80px;
  }

  .about__label {
    font-size: 17px;
    margin-bottom: 35px;
  }

  .about__picture-plug {
    width: 260px;
    height: 260px;
    top: 115px;
  }

  .about__picture-icon {
    width: 63px;
  }

  .about__right:before {
    width: 63px;
    height: 12px;
    top: -65px;
  }

  .about__title {
    font-size: 34px;
    margin-bottom: 120px;
  }

  .about__description {
    font-size: 20px;
    margin-bottom: 100px;
  }

  .about__video {
    gap: 20px;
  }

  /* endregion */

  /* region Callback Form */

  .callback__form {
    max-width: 587px;
  }

  .callback__title {
    font-size: 52px;
    margin-bottom: 80px;
  }

  .callback__fields {
    gap: 50px;
  }

  .callback__policy {
    font-size: 14px;
  }

  .callback__submit {
    padding: 24px;
  }

  /* endregion */
}

@media (max-width: 1280px) {
  /* region UI */

  .menu-btn {
    gap: 10px;
    font-size: 12px;
  }

  .video__label {
    font-size: 10px;
  }

  .video__time {
    font-size: 13px;
  }

  .video__button {
    width: 133px;
    min-width: 133px;
    height: 133px;
  }

  .play {
    font-size: 10px;
  }

  .play__icon {
    width: 7px;
  }

  .container {
    padding: 0 30px;
  }

  .popup {
    padding: 50px;
  }

  .input,
  .input__label {
    font-size: 14px;
  }

  .popup__close {
    top: 50px;
    right: 50px;
  }

  /* endregion */

  /* region Header */

  .header__left {
    gap: 25px;
  }

  .header__right {
    gap: 35px;
  }

  .header__logo-icon {
    width: 155px;
  }

  .phone-link {
    font-size: 13px;
  }

  .callback-button {
    font-size: 12px;
  }

  /* endregion */

  /* region Banner */

  .banner__img {
    aspect-ratio: 2.35;
    object-position: center;
  }

  .banner__row {
    margin-top: 30px;
  }

  .banner__title {
    font-size: 19px;
  }

  .banner__logo {
    width: 554px;
  }

  /* endregion */

  /* region About */

  .about {
    margin-top: 60px;
  }

  .about__right {
    margin-right: 8%;
    width: 36%;
  }

  .about__label {
    font-size: 11px;
    margin-bottom: 20px;
  }

  .about__picture-plug {
    width: 148px;
    height: 148px;
    top: 61px;
  }

  .about__picture-icon {
    width: 35px;
  }

  .about__right:before {
    width: 35px;
    height: 6px;
    border-radius: 1px;
    top: -41px;
  }

  .about__title {
    font-size: 19px;
    margin-bottom: 65px;
    line-height: 1.4;
  }

  .about__description {
    font-size: 12px;
    margin-bottom: 60px;
    line-height: 1.8;
  }

  .about__video {
    gap: 20px;
  }

  /* endregion */

  /* region Callback Form */

  .callback__form {
    max-width: 370px;
  }

  .callback__title {
    font-size: 28px;
  }

  .callback__fields {
    gap: 45px;
  }

  .callback__policy {
    font-size: 11px;
  }

  .callback__submit {
    width: 170px;
    font-size: 14px;
    padding: 20px;
  }

  /* endregion */
}

@media (min-width: 1024px) {
  /* region Header */

  .header__phone--mobile {
    display: none;
  }

  /* endregion */
}

@media (max-width: 1023px) {
  /* region UI */

  .container {
    padding: 0 40px;
  }

  .button {
    font-size: 12px;
    padding: 15px 18px;
  }

  .popup {
    padding: 40px;
  }

  .popup__close {
    top: 40px;
    right: 40px;
  }

  /* endregion */

  /* region Header */

  .header {
    padding: 37px 0;
  }

  .header .header__left {
    gap: 68px;
  }

  .header__phone {
    display: none;
  }

  .header__callback {
    display: none;
  }

  .header__button {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
  }

  /* endregion */

  /* region Banner */

  .banner {
    padding-top: 116px;
  }

  .banner__img {
    aspect-ratio: 1.4;
  }

  .banner__row {
    margin-top: 43px;
    flex-direction: column;
    align-items: flex-start;
    gap: 43px;
  }

  .banner__title {
    line-height: 1.4;
    font-size: 26px;
  }

  .banner__logo {
    width: 100%;
  }

  /* endregion */

  /* region About */

  .about {
    margin-top: 90px;
    margin-bottom: 30px;
  }

  .about .container {
    padding-left: 0;
    padding-right: 50px;
  }

  .about__left {
    width: 40%;
  }

  .about__right {
    margin-right: 0;
    width: 48%;
    margin-left: 12%;
  }

  .about__label {
    font-size: 11px;
    margin-bottom: 20px;
  }

  .about__img {
    aspect-ratio: 0.7;
  }

  .about__picture-plug {
    width: 81px;
    height: 81px;
    top: 59px;
  }

  .about__picture-icon {
    width: 19px;
  }

  .about__right:before {
    top: -36px;
  }

  .about__title {
    margin-bottom: 20px;
  }

  .about__description {
    margin-bottom: 30px;
  }

  /* endregion */

  /* region Callback Form */

  .callback__form {
    max-width: 438px;
  }

  .callback__title {
    font-size: 28px;
  }

  .callback__submit {
    padding: 20px;
    font-size: 14px;
  }

  /* endregion */
}

@media (max-width: 767px) {
  /* region UI */

  .menu-btn__text {
    display: none;
  }

  .menu-btn__line {
    background-color: #000000;
  }

  .container {
    padding: 0 20px;
  }

  .popup {
    padding: 20px;
  }

  .popup__close {
    top: 20px;
    right: 20px;
  }

  /* endregion */

  /* region Header */

  .header {
    padding: 20px 0;
  }

  .header__button {
    display: none;
  }

  .header__logo-icon {
    width: 130px;
  }

  .header__phone--mobile {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  /* endregion */

  /* region Banner */

  .banner {
    padding-top: 61px;
  }

  .banner__img {
    aspect-ratio: 1;
  }

  .banner__row {
    margin-top: 20px;
    gap: 20px;
  }

  .banner__title {
    font-size: 13px;
  }

  /* endregion */

  /* region About */

  .about {
    margin-top: 10px;
  }

  .about .container {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  .about__label {
    margin-bottom: 10px;
  }

  .about__left {
    width: 100%;
    padding-right: 17%;
    margin-bottom: 76px;
  }

  .about__right {
    width: 100%;
    margin: 0;
    padding: 0 20px;
  }

  .about__right:before {
    left: 20px;
  }

  .about__title {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 40px;
  }

  .about__description {
    font-size: 11px;
    margin-bottom: 20px;
  }

  /* endregion */

  /* region Callback Form */

  .callback__form {
    max-width: 100%;
  }

  .callback__title {
    font-size: 20px;
    margin-bottom: 30px;
    padding-left: 10px;
    width: 100%;
    text-align: left;
  }

  .callback__fields {
    gap: 41px;
  }

  .input,
  .input__label {
    font-size: 11px;
  }

  .callback__policy {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 12px;
  }

  .callback__submit {
    font-size: 11px;
    padding: 18px;
  }

  /* endregion */
}

/*endregion*/
